@import "tailwindcss";

body {
  font-family: "Public Sans Variable", sans-serif;
}

@theme {
  --color-dark-100: #48465c;
  --color-dark-200: #f8f7fa;
  --color-dark-300: #DBDADE;
  --color-dark-400: #909090;
  --color-primary-main: #246aa3;
}

@layer components {
  .card {
    @apply rounded bg-white !p-4 shadow;
  }
}
